html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-feature-settings: 'calt' 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: var(--font-queens), sans-serif !important;
  font-weight: 400;
}

.ant-avatar {
  border: none !important;
}

p,
span,
div {
  font-feature-settings: 'calt' 0;
}

.ant-input-data-count,
.ant-input-show-count-suffix {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.ant-menu-horizontal>.ant-menu-item-selected::after {
  display: none;
}

#rk_chain_modal_title,
[data-rk][aria-labelledby="rk_connect_title"],
[data-rk][aria-labelledby="rk_connect_title"] * {
  font-family: var(--font-inter), sans-serif !important;
  font-weight: 400;
}

#rk_connect_title,
#rk_chain_modal_title {
  font-weight: 600 !important;
}


.ant-statistic-content-prefix {
  display: flex;
  align-items: center;
}

.profile-popover .ant-popover-inner-content>div {
  background-color: var(--ant-color-bg-elevated);
}

.intercom-lightweight-app,
.intercom-lightweight-app-launcher {
  z-index: 100 !important;
}

/*
  TODO GDT
  override .ant-notification icon colors
  @ant-design/icons does not currently respect layers
  https://github.com/ant-design/ant-design-icons/issues/644
*/
.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-icon-success.anticon {
  color: var(--ant-color-success);
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-icon-info.anticon {
  color: var(--ant-color-info);
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-icon-warning.anticon {
  color: var(--ant-color-warning);
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-icon-error.anticon {
  color: var(--ant-color-error);
}

*, *:before, *:after {
  box-sizing: border-box;
}
