:root {
  --blue: #1677FF;
  --purple: #722ED1;
  --cyan: #13C2C2;
  --green: #52C41A;
  --magenta: #EB2F96;
  --pink: #EB2F96;
  --red: #F5222D;
  --orange: #FA8C16;
  --yellow: #FADB14;
  --volcano: #FA541C;
  --geekblue: #2F54EB;
  --gold: #FAAD14;
  --lime: #A0D911;
  --colorPrimary: #1f21b6;
  --colorSuccess: #127f31;
  --colorWarning: #cc9a1a;
  --colorError: #b72b38;
  --colorInfo: #1f21b6;
  --colorLink: #343539;
  --colorTextBase: #1F2126;
  --colorBgBase: #C1C0B6;
  --colorPrimaryBgHover: #1F21B614;
  --colorText: #1F2126E0;
  --colorTextSecondary: #1F2126A6;
  --colorTextTertiary: #1F212673;
  --colorLinkHover: #343539BF;
  --colorBgContainer: #CBCBC2;
  --colorBorder: #9E9C8D00;
  --colorBorderSecondary: #B3B2A500;
  --colorPrimaryBg: #1F21B61A;
  --colorBgLayout: #C1C0B6;
  --colorWarningBg: #D5D4CD;
  --colorWarningBorder: #FFE58F00;
  --colorWarningTextActive: #D48806;
  --colorBgElevated: #D5D4CD;
  --colorErrorBg: #CF132226;
  --colorErrorBorder: #FFCCC700;
  --colorPrimaryBorder: #8F97DB00;
  --colorSuccessBg: #AFC0AC;
  --colorSuccessBorder: #B7EB8F00;
  --colorBorderBg: #1F212640;
  --colorSuccessBgHover: #AFC0AC;
  --colorErrorBgHover: #CCAFAA;
  --colorFillSecondary: #C1C1B9;
  --colorBgMask: #23232040;
  --blue-1: #e6f4ff;
  --blue-2: #bae0ff;
  --blue-3: #91caff;
  --blue-4: #69b1ff;
  --blue-5: #4096ff;
  --blue-6: #1677ff;
  --blue-7: #0958d9;
  --blue-8: #003eb3;
  --blue-9: #002c8c;
  --blue-10: #001d66;
  --purple-1: #f9f0ff;
  --purple-2: #efdbff;
  --purple-3: #d3adf7;
  --purple-4: #b37feb;
  --purple-5: #9254de;
  --purple-6: #722ed1;
  --purple-7: #531dab;
  --purple-8: #391085;
  --purple-9: #22075e;
  --purple-10: #120338;
  --cyan-1: #e6fffb;
  --cyan-2: #b5f5ec;
  --cyan-3: #87e8de;
  --cyan-4: #5cdbd3;
  --cyan-5: #36cfc9;
  --cyan-6: #13c2c2;
  --cyan-7: #08979c;
  --cyan-8: #006d75;
  --cyan-9: #00474f;
  --cyan-10: #002329;
  --green-1: #f6ffed;
  --green-2: #d9f7be;
  --green-3: #b7eb8f;
  --green-4: #95de64;
  --green-5: #73d13d;
  --green-6: #52c41a;
  --green-7: #389e0d;
  --green-8: #237804;
  --green-9: #135200;
  --green-10: #092b00;
  --magenta-1: #fff0f6;
  --magenta-2: #ffd6e7;
  --magenta-3: #ffadd2;
  --magenta-4: #ff85c0;
  --magenta-5: #f759ab;
  --magenta-6: #eb2f96;
  --magenta-7: #c41d7f;
  --magenta-8: #9e1068;
  --magenta-9: #780650;
  --magenta-10: #520339;
  --pink-1: #fff0f6;
  --pink-2: #ffd6e7;
  --pink-3: #ffadd2;
  --pink-4: #ff85c0;
  --pink-5: #f759ab;
  --pink-6: #eb2f96;
  --pink-7: #c41d7f;
  --pink-8: #9e1068;
  --pink-9: #780650;
  --pink-10: #520339;
  --red-1: #fff1f0;
  --red-2: #ffccc7;
  --red-3: #ffa39e;
  --red-4: #ff7875;
  --red-5: #ff4d4f;
  --red-6: #f5222d;
  --red-7: #cf1322;
  --red-8: #a8071a;
  --red-9: #820014;
  --red-10: #5c0011;
  --orange-1: #fff7e6;
  --orange-2: #ffe7ba;
  --orange-3: #ffd591;
  --orange-4: #ffc069;
  --orange-5: #ffa940;
  --orange-6: #fa8c16;
  --orange-7: #d46b08;
  --orange-8: #ad4e00;
  --orange-9: #873800;
  --orange-10: #612500;
  --yellow-1: #feffe6;
  --yellow-2: #ffffb8;
  --yellow-3: #fffb8f;
  --yellow-4: #fff566;
  --yellow-5: #ffec3d;
  --yellow-6: #fadb14;
  --yellow-7: #d4b106;
  --yellow-8: #ad8b00;
  --yellow-9: #876800;
  --yellow-10: #614700;
  --volcano-1: #fff2e8;
  --volcano-2: #ffd8bf;
  --volcano-3: #ffbb96;
  --volcano-4: #ff9c6e;
  --volcano-5: #ff7a45;
  --volcano-6: #fa541c;
  --volcano-7: #d4380d;
  --volcano-8: #ad2102;
  --volcano-9: #871400;
  --volcano-10: #610b00;
  --geekblue-1: #f0f5ff;
  --geekblue-2: #d6e4ff;
  --geekblue-3: #adc6ff;
  --geekblue-4: #85a5ff;
  --geekblue-5: #597ef7;
  --geekblue-6: #2f54eb;
  --geekblue-7: #1d39c4;
  --geekblue-8: #10239e;
  --geekblue-9: #061178;
  --geekblue-10: #030852;
  --gold-1: #fffbe6;
  --gold-2: #fff1b8;
  --gold-3: #ffe58f;
  --gold-4: #ffd666;
  --gold-5: #ffc53d;
  --gold-6: #faad14;
  --gold-7: #d48806;
  --gold-8: #ad6800;
  --gold-9: #874d00;
  --gold-10: #613400;
  --lime-1: #fcffe6;
  --lime-2: #f4ffb8;
  --lime-3: #eaff8f;
  --lime-4: #d3f261;
  --lime-5: #bae637;
  --lime-6: #a0d911;
  --lime-7: #7cb305;
  --lime-8: #5b8c00;
  --lime-9: #3f6600;
  --lime-10: #254000;
  --colorTextQuaternary: rgba(31, 33, 38, 0.25);
  --colorFill: rgba(31, 33, 38, 0.15);
  --colorFillTertiary: rgba(31, 33, 38, 0.04);
  --colorFillQuaternary: rgba(31, 33, 38, 0.02);
  --colorBgSolid: rgb(31, 33, 38);
  --colorBgSolidHover: rgba(31, 33, 38, 0.75);
  --colorBgSolidActive: rgba(31, 33, 38, 0.95);
  --colorBgSpotlight: rgba(31, 33, 38, 0.85);
  --colorPrimaryBorderHover: #656ecf;
  --colorPrimaryHover: #4046c2;
  --colorPrimaryActive: #13118f;
  --colorPrimaryTextHover: #4046c2;
  --colorPrimaryText: #1f21b6;
  --colorPrimaryTextActive: #13118f;
  --colorSuccessBorderHover: #469958;
  --colorSuccessHover: #469958;
  --colorSuccessActive: #085922;
  --colorSuccessTextHover: #2a8c43;
  --colorSuccessText: #127f31;
  --colorSuccessTextActive: #085922;
  --colorErrorBgFilledHover: #ebc4c4;
  --colorErrorBgActive: #de9e9e;
  --colorErrorBorderHover: #d17376;
  --colorErrorHover: #c44d55;
  --colorErrorActive: #911a2a;
  --colorErrorTextHover: #c44d55;
  --colorErrorText: #b72b38;
  --colorErrorTextActive: #911a2a;
  --colorWarningBgHover: #fff6c4;
  --colorWarningBorderHover: #e6ca67;
  --colorWarningHover: #e6ca67;
  --colorWarningActive: #a6750d;
  --colorWarningTextHover: #d9b23f;
  --colorWarningText: #cc9a1a;
  --colorInfoBg: #e6e9f5;
  --colorInfoBgHover: #bcc3e8;
  --colorInfoBorder: #8f97db;
  --colorInfoBorderHover: #656ecf;
  --colorInfoHover: #656ecf;
  --colorInfoActive: #13118f;
  --colorInfoTextHover: #4046c2;
  --colorInfoText: #1f21b6;
  --colorInfoTextActive: #13118f;
  --colorLinkActive: #0f1012;
  --colorWhite: #fff;
  --colorFillContent: #C1C1B9;
  --colorFillContentHover: rgba(31, 33, 38, 0.15);
  --colorFillAlter: rgba(31, 33, 38, 0.02);
  --colorBgContainerDisabled: rgba(31, 33, 38, 0.04);
  --colorSplit: #B3B2A500;
  --colorTextPlaceholder: rgba(31, 33, 38, 0.25);
  --colorTextDisabled: rgba(31, 33, 38, 0.25);
  --colorTextHeading: #1F2126E0;
  --colorTextLabel: #1F2126A6;
  --colorTextDescription: #1F212673;
  --colorTextLightSolid: #fff;
  --colorHighlight: #b72b38;
  --colorBgTextHover: #C1C1B9;
  --colorBgTextActive: rgba(31, 33, 38, 0.15);
  --colorIcon: #1F212673;
  --colorIconHover: #1F2126E0;
  --colorErrorOutline: #CF132226;
  --colorWarningOutline: rgba(253, 248, 249, 0.2);
  --controlItemBgHover: rgba(31, 33, 38, 0.04);
  --controlItemBgActive: #1F21B61A;
  --controlItemBgActiveHover: #1F21B614;
  --controlItemBgActiveDisabled: rgba(31, 33, 38, 0.15);
  --controlTmpOutline: rgba(31, 33, 38, 0.02);
  --controlOutline: #1F21B61A;
}

.dark {
  --colorPrimary: #2e7bc3;
  --colorWarning: #c29010;
  --colorInfo: #1b69b1;
  --colorLink: #8d8d85;
  --colorTextBase: #EFEEE0;
  --colorBgBase: #232320;
  --colorPrimaryBgHover: #1F21B61A;
  --colorText: #EFEEE0D9;
  --colorTextSecondary: #FFFFFFA6;
  --colorTextTertiary: #FFFFFF73;
  --colorBgLayout: #232320;
  --colorWarningBg: #222830;
  --colorBgElevated: #333330;
  --colorErrorBg: #B72B3826;
  --colorErrorBgHover: #422D2B;
  --colorSuccessBgHover: #29392A;
  --colorSuccessBg: #29392A;
  --colorInfoBg: #222830;
  --colorInfoBorder: #162e4300;
  --colorLinkHover: #8D8D85BF;
  --colorBgContainer: #2d2d2A;
  --colorFillSecondary: #44443F;
  --colorTextQuaternary: rgba(239, 238, 224, 0.25);
  --colorFill: rgba(239, 238, 224, 0.15);
  --colorFillTertiary: rgba(239, 238, 224, 0.04);
  --colorFillQuaternary: rgba(239, 238, 224, 0.02);
  --colorBgSolid: rgb(239, 238, 224);
  --colorBgSolidHover: rgba(239, 238, 224, 0.75);
  --colorBgSolidActive: rgba(239, 238, 224, 0.95);
  --colorBgSpotlight: rgba(239, 238, 224, 0.85);
  --colorPrimaryBorderHover: #7bb3db;
  --colorPrimaryHover: #5397cf;
  --colorPrimaryActive: #1e5a9c;
  --colorPrimaryTextHover: #5397cf;
  --colorPrimaryText: #2e7bc3;
  --colorPrimaryTextActive: #1e5a9c;
  --colorWarningBgHover: #f5ebb0;
  --colorWarningBorderHover: #dbbf58;
  --colorWarningHover: #dbbf58;
  --colorWarningActive: #9c6c05;
  --colorWarningTextHover: #cfa732;
  --colorWarningText: #c29010;
  --colorInfoBgHover: #b3d2e3;
  --colorInfoBorderHover: #5f9dc9;
  --colorInfoHover: #5f9dc9;
  --colorInfoActive: #0e4a8a;
  --colorInfoTextHover: #3a82bd;
  --colorInfoText: #1b69b1;
  --colorInfoTextActive: #0e4a8a;
  --colorLinkActive: #66665b;
  --colorFillContent: #44443F;
  --colorFillContentHover: rgba(239, 238, 224, 0.15);
  --colorFillAlter: rgba(239, 238, 224, 0.02);
  --colorBgContainerDisabled: rgba(239, 238, 224, 0.04);
  --colorTextPlaceholder: rgba(239, 238, 224, 0.25);
  --colorTextDisabled: rgba(239, 238, 224, 0.25);
  --colorTextHeading: #EFEEE0D9;
  --colorTextLabel: #FFFFFFA6;
  --colorTextDescription: #FFFFFF73;
  --colorBgTextHover: #44443F;
  --colorBgTextActive: rgba(239, 238, 224, 0.15);
  --colorIcon: #FFFFFF73;
  --colorIconHover: #EFEEE0D9;
  --colorErrorOutline: #B72B3826;
  --colorWarningOutline: rgba(1, 25, 66, 0.25);
  --controlItemBgHover: rgba(239, 238, 224, 0.04);
  --controlItemBgActiveHover: #1F21B61A;
  --controlItemBgActiveDisabled: rgba(239, 238, 224, 0.15);
  --controlTmpOutline: rgba(239, 238, 224, 0.02);
}
